# Force GitHub to detect these languages
*.java linguist-detectable=true
*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.xml linguist-detectable=true
*.properties linguist-detectable=true