*.java linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.jsx linguist-detectable=true
*.xml linguist-detectable=true
*.gradle linguist-detectable=true
